@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

$colors: (
  primary: #1d1d1d,
  text: #fefefe,
  btnHover: #dcdada,
  accent: #fff6bb,
  guide: lightgrey,
);

$fonts: (
  h1-sm: clamp(20px, 3.5vw, 50px),
  h1-desk: clamp(20px, 2.5vw, 50px),
  p-sm: clamp(1rem, 1.5vw, 1.2rem),
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function myFont($font-size) {
  @return map-get($fonts, $font-size);
}

body {
  background-color: map-get($colors, primary);
  color: map-get($colors, text);
  font-family: "Press Start 2P", sans-serif;

  p {
    font-size: myFont(p-sm);
  }

  button,
  input {
    font-family: "Press Start 2P", sans-serif;
    font-size: 18px;
    width: 200px;
    height: 80px;
    text-align: center;
  }
  button:hover {
    background-color: color(btnHover);
    cursor: pointer;
  }
  button:active {
    background-color: color(accent);
    cursor: pointer;
  }
}

header {
  display: grid;
  text-align: center;
  padding: 30px 15px 15px;
  justify-items: center;
  row-gap: 1rem;
  h1 {
    color: map-get($colors, accent);
    font-size: myFont(h1-sm);
  }

  div {
    background-color: color(text);
  }

  .number {
    color: color(primary);
    font-size: 5rem;
    padding: 1.5rem 3.5rem;
  }
}

main {
  display: flex;
  flex-wrap: wrap-reverse;
  padding: 15px 15px 30px;
  justify-content: center;

  .left {
    display: grid;
    place-items: center;
    row-gap: 15px;
    .guess {
      background-color: transparent;
      border: 4px solid color(text);
      padding: 5px 5px 5px 5px;
      font-size: 4rem;
      width: 100%;
      height: 150px;
      max-width: 400px;
    }
  }

  .right {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
    place-items: center;
    width: 100%;

    p {
      padding: 5px;
      width: 100%;
      max-width: 400px;
    }

    .message {
      margin-bottom: 30px;
    }
  }
}

@media (min-width: 375px) {
  body {
    .btn {
      width: 200px;
      height: 70px;
    }

    .btn:hover {
      border-radius: 5px;
    }
  }

  header {
    position: relative;
    display: flex;
    margin-bottom: 3rem;
    height: 350px;
    justify-content: center;
    padding-bottom: 150px;
    margin-bottom: 150px;
    margin-top: 30px;
    border-bottom: 5px solid color(text);

    h1 {
      font-size: myFont(h1-desk);
      align-self: flex-end;
    }
    .between {
      position: absolute;
      right: 50px;
      font-size: 0.9em;
    }

    .again {
      position: absolute;
      left: 50px;
      font-size: 1rem;
    }

    .number {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 176%);
      font-size: 4rem;
      padding: 2rem;
      width: 200px;
    }
  }

  main {
    display: flex;
    margin-top: 12rem;

    section.left {
      flex: 1;

      .guess {
        border: 4px solid color(text);
        color: color(text);
        padding: 1rem;
        font-size: 4rem;
        width: 250px;
        height: 120px;
        max-width: 300px;
        margin-bottom: 15px;
      }
      input:focus {
        outline: none;
      }
    }

    section.right {
      flex: 1;
      display: grid;
      grid-template-columns: 1fr;
      place-items: center;
      width: 100%;
      .message {
        margin-bottom: 90px;
      }
    }
  }
}
